@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: Quicksand, sans-serif;
    @apply transition-all;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

a {
    color:rgb(197, 23, 23);
}

a:hover {
    color: rgb(140, 29, 29);
}

textarea {
    padding: 4px 10px;
    margin: 5px 0;
    
    @apply rounded-lg focus:bg-gray-100 bg-gray-50 resize-none;
}

textarea:focus {
    outline: none;
}

i {
    @apply text-red-700 text-2xl w-fit py-2.5 px-0;
}

i:hover {
    scale: 1.1;
}

i:active {
    scale: .9;
}

#footerIcon {
    @apply h-10 hover:scale-105 active:scale-95;
}