@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Quicksand, sans-serif;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h3{
    font-size: 1.3rem;
    font-weight: 600;
}
h4{
    font-size: 1rem;
    font-weight: 500;
}

a{
    color:rgb(197, 23, 23);
}
 
a:hover{
    color: rgb(140, 29, 29);
}

textarea{
    resize:none !important;
    line-height: 1.5rem;
    padding: 4px;
    margin: 5px 0;
}
textarea:focus{
    outline: none;
    background-color: rgb(248, 248, 248);
}

i{
    color:rgb(192, 25, 25);
    font-size: 1.5rem;
    padding: 10px 0;
    width: fit-content;
}

i:hover{
    scale: 1.1;
}