@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Quicksand, sans-serif;
}

h2{
    font-size: 1.5rem;
    font-weight: 700;
}
h3{
    font-size: 1.3rem;
    font-weight: 600;
}
h4{
    font-size: 1rem;
    font-weight: 500;
}

a{
    color:rgb(197, 23, 23);
}
 
a:hover{
    color: rgb(140, 29, 29);
}